.header {

  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: 'Alegreya Sans';

  &__phone_number {
    display: flex;
    padding-top: 10px;
  }

  &__phone_number {
    @include tablets {
      display: none;
    }
  }
}

.logo {
  margin-right: rem(38px);
  width: rem(40px);
  height: rem(40px);
}

.menu {

  margin: 0 30px;
  padding-top: 10px;

	@include tablets {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		background: #333537;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		&.active{
			right: 0;
			margin: 0;
		}
  }
}

.menu__list {
  display: flex;
  align-items: center;
  font-size: rem(18px);
  flex-wrap: wrap;
  justify-content: center;

  @include tablets {
		flex-direction: column;
		align-items: center;
    
		.menu__item {
			margin-right: 0;
			font-size: 36px;
			font-family: Play, serif;
			margin: 0 0 25px;
			color: #fff;
			&:after{
				display: none;
			}
		}
  }
}

.menu__item {
  margin-right: rem(15px);

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.phone-number {
  display: flex;
  text-decoration: none;
  align-items: center;
  white-space: nowrap;
}

.phone-number__icon-elem {
  width: rem(14px);
  height: rem(14px);
  margin-right: 6px;
}