.headline {
  text-align: center;
  padding-bottom: rem(62px);
}

.headline__title {
  margin-bottom: rem(18px);
}

.headline__subtitle {
  padding: 0 26%;

  @include phones {
    padding: 0 7%;
  }
}
