.order-section {
  background: url("../img/background_form.jpeg");
  background-size: cover;
}

.section__title-form {
  font-size: rem(48px);
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  

}
